

body {
    /* background-image: url(./img/fondo.jpg); */
    /* background-image-resize: 6; */
    /* text-align: center; */
    font-family: "Calibri, sans-serif";
}
th{
	margin: 0 !important;
	padding: 0px !important;
}
tr{
	width: 137.16mm;
	height: 50.8mm;
	margin: 0 !important;
	padding: 0px !important;
}
td{
	margin: 0 !important;
	padding: 0px !important;
}
table{
	border-collapse: collapse;
	margin: 0 !important;
	padding-bottom: 0px !important;
}
.codo{
	text-align: center;
	/* width: 254mm; */
	width: 25.4mm !important;
	/* height: 50.8mm !important; */
	/* padding: 0 64px; */
	/* padding: 2px 12px; */
	margin: 0 !important;
	padding: 0 2mm !important;
	/* border: 1px solid rgb(119, 0, 223); */
}
.codocontainer{
	text-align: center;
	width: 25.4mm !important;
	/* border: 1px solid rgb(119, 0, 223); */
}
.fila{
	text-align: center;
	/* width: 254mm; */
	width: 50mm;
	height: 50.8mm !important;
	padding: 100px 0px 0px 0px;
	/* padding: 2px 12px; */
	margin: 0 !important;
	padding-bottom: 0px !important;
	/* border: 1px solid rgb(255, 0, 0); */
}
.fila2{
	/* width: 254mm; */
	width: 60mm;
	height: 50.8mm !important;
	padding: 110px 0px 0px 40px;
	/* padding: 2px 12px; */
	margin: 0 !important;
	padding-bottom: 0px !important;
	/* border: 1px solid rgb(255, 0, 0); */
}

.logo_evento{
	width: 20mm !important;
	padding: 0px 0px 20px 0px;
}

.imagen_logo{
	/* width: 50mm; */
	height: 18mm;
	max-width: 50mm !important;
	/* border: 1px solid rgb(255, 0, 0); */
	/* border: 0.2px solid rgb(255, 74, 74); */
}
.imagen{
	/* width: 20mm; */
	padding-left: 3mm !important;
	height: 20mm;
	/* max-width: 20mm !important; */
	/* border: 0.2px solid rgb(255, 0, 0); */
}
.logo{
	/* width: 10mm; */
	height: 10mm;
	
	/* border: 1px solid rgb(255, 0, 0); */
}



.caja1{
	display: flex;
	justify-content: space-between;
}

span{
	display: contents;
	margin: 0 !important;
	padding: 0px !important;
}


.titulo{
	margin-top: -120px;
	font-size: 10px;
	width: 18mm !important;
	/* border: 0.2px solid rgb(255, 0, 0); */
	/* padding: 0 57.5mm !important;
	max-width: 57.5mm !important;; */
	/* border: 0.2px solid rgb(255, 0, 0); */
	/* border: 1px solid rgb(255, 0, 0); */
}
.contenedor{
	width: 137.16mm;
	height: 50.8mm;
	/* border: 1px solid rgb(255, 0, 0); */
}
.titulozona{
	padding-bottom: 20px !important;
	text-align: center;
	/* border: 1px solid rgb(255, 0, 0); */
	padding:40px;
	margin-top: -120px;
	margin-left: 320px;
	font-size: 10px;
	width: 57.5mm !important;
	/* border: 0.2px solid rgb(255, 0, 0); */
	/* padding: 0 57.5mm !important;
	max-width: 57.5mm !important;; */
	/* border: 0.2px solid rgb(255, 0, 0); */
}
.imagen{
	padding: 0 0mm 0 0mm !important;
	/* border: 0.2px solid rgb(255, 0, 0); */
}

p{
	/* border: 0.1px solid rgb(255, 2, 2); */
	padding: 0 0mm 0 0mm !important;
	margin: 0 0mm 0 0mm !important;
}